################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots
/.vs
/src/PriceCompare.Core/bin/Debug/net8.0
/src/PriceCompare.Core/obj
